@import "tailwindcss";

/* src/index.css */
:root {
  --primary: #b01b24;
  --secondary: #fff5e0;
  --dark: #1e1e1e;

  /* --font-script: "Great Vibes", cursive; */
}

body {
  font-family: 'Manrope', sans-serif;
}



/* ===========================
   🅰️ Typography Utilities
============================= */

.heading-1 {
  font-size: clamp(2rem, 3vw, 3rem); /* 32px - 48px */
  font-weight: 700;
  color: var(--dark);
}

.heading-2 {
  font-size: clamp(1.5rem, 3vw, 2.25rem); /* 24px - 36px */
  font-weight: 600;
  color: var(--dark);
}

.heading-script {
  font-family: var(--font-script);
  font-size: clamp(2rem, 4vw, 3.5rem); /* Stylish heading */
  font-weight: 400;
  color: var(--primary);
}

.paragraph {
  font-size: 1rem;         /* 16px */
  line-height: 1.7;
  color: #4b5563;          /* text-gray-700 */
}

.paragraph-sm {
  font-size: 0.875rem;     /* 14px */
  color: #6b7280;          /* text-gray-500 */
  line-height: 1.6;
}



/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}



.hover-item {
  transition: 0.3s;
}
.hover-item:hover {
  transform: translate(0, -10px);
}




/* ===========================
   🅰️ Card Flip Effect
.wrapper {
  perspective: 500px;
}

.card {
  /* */
  /* backface-visibility: visible;
  transform: rotateZ(40deg);
  transition: transform 600ms ease-out 100ms;
}

.wrapper:hover .card {
  transform: rotateZ(40deg) rotateY(-180deg);
} */







